.button {
	display: block;
	font-size: 20px;
	line-height: 32px;
	color: var(--blue);
	background-color: transparent;
	border: none;
	border-radius: 0;
	text-transform: capitalize;
	cursor: pointer;
	transition: .3s;

	&:hover {
		color: var(--blue2);
	}

	&:active {
		transform: scale(.98);
	}
}

.button_showMore {
	padding: 5px 0;
}

.button_source {
	align-self: start;
	padding: 10px 15px;
	background-color: var(--darkgray2);
	border-radius: 15px;
}

.button_sorting {
	color: var(--lightgray);

	&:hover {
		color: var(--darkgray2);
	}
}

.button_duplicates {
	padding: 10px 15px;
	color: var(--white);
	border: 1px solid var(--lightgray);
	border-radius: 15px;

	&:hover {
		color: var(--lightgray);
		border-color: var(--darkgray);
	}

	&:active {
		transform: scale(.995);
	}
}