@mixin defaultIcon {
	width: 22px;
	height: 22px;
	border: 2px solid var(--lightgray);
}

.icon {
	@include defaultIcon;

	.iconText {
		color: var(--lightgray) !important;
		font-size: 13px !important;
		line-height: 18px !important;
		font-weight: bold;
	}
}

.emptyIcon {
	@include defaultIcon;

	.iconText {
		display: none;
	}
}