.fullHeader {
	.reachContent::after {
		content: ' Reach';
		color: var(--lightgray);
	}
}

.shortHeader {
	padding: 20px;
	border: 1px solid var(--blue);
	border-radius: 10px;

	.noneTopTraffic,
	.noneSentiment,
	.noneLang {
		display: none;
	}

	.reachContent::after {
		content: ' Top Reach';
	}
}

.title {
	margin: 0 !important;
	color: var(--blue2) !important;
}

.link {
	color: var(--blue2) !important;
	text-decoration: underline !important;
}

.country,
.lang,
.author {
	color: var(--lightgray) !important;
	text-transform: capitalize;
}

