.fullHeader {
	.reachContent::after {
		content: ' Reach';
		color: var(--lightgray);
	}
}

.shortHeader {
	padding: 20px;
	border: 1px solid var(--blue);
	border-radius: 15px;

	.topTraffic,
	.sentiment,
	.lang {
		display: none;
	}

	.reachContent::after {
		content: ' Top Reach';
	}
}

.title {
	color: var(--blue2);
}

.linkText {
	font-size: 16px;
	line-height: 28px;
	color: var(--blue);
	text-decoration: underline;
	transition: .3s;

	&:hover {
		color: var(--blue2);
	}

	&:active {
		color: var(--darkgray2);
	}
}

.country,
.lang,
.author {
	color: var(--lightgray);
	text-transform: capitalize;
}

.iconColor {
	color: var(--white);
}
