.tag {
	font-size: 16px;
	background-color: var(--background);
	padding: 5px 12px;
	border: 1px solid var(--darkgray) !important;
	border-radius: 15px;
}

.tagColor {
	text-transform: capitalize;
	color: var(--lightgray) !important;
}