* {
	background-color: var(--background);
	color: var(--white) !important;
}

.showMoreBtn {
	color: var(--blue2) !important; 
}

.blueBtn {
	// align-self: start;
	background-color: var(--darkgray) !important;
	color: var(--blue) !important;
}

.duplicates {
	color: var(--lightgray) !important;
}