@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	font-style: normal;
	src: url(../public/assets/fonts/roboto-v30-cyrillic-ext_latin-regular.woff2);
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	font-weight: 700;
	font-style: normal;
	src: url(../public/assets/fonts/roboto-v30-cyrillic-ext_latin-700.woff2);
	font-display: swap;
}

:root {
	--background: #000000;
	--white: #ffffff;
	--lightgray: #bfbfbf;
	--darkgray: #595959;
	--darkgray2: #434343;
	--blue: #1890ff;
	--blue2: #0050b3;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
}

html {
	min-width: 100vw;
	overflow-x: hidden;
	padding: 20px;
}

body {
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	color: var(--white);
	background-color: var(--background);
	padding: 20px;
	border: 1px solid var(--darkgray);
	border-radius: 10px;
}



